main .container {
  padding-block: 45px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 68px;
}

.listing {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 880px;
}

.card {
  min-width: 880px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.149);
  border-radius: 16px;
}

@media (max-width: 1200px) {
  main .container {
    gap: 20px;
  }
  .card {
    min-width: auto;
  }
}

.rating {
  background: #0b2f72;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
}

.rating_first {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main {
  padding: 16px;
  display: flex;
  gap: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background: #fff;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.details_header, .details_header .card_texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 440px;
}

.pros {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pros p {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  left: 16px;
}

.pros p::before {
  content: "\2713";
  position: absolute;
  left: -16px;
  color: #00df00;
}

.pros span {
  width: 8px;
  height: 8px;
  background: #1ebb55;
  border-radius: 50%;
}

.trophy > img {
  width: 86px;
  height: auto;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-top: 20px;
}

.btn a:first-child {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(51.06deg, #FF8410 0%, #DA0036 120.22%);
  box-shadow: 2px 2px 0px 0px #F45F55;
}

.img_section {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.img_first {
  width: 100%;
  height: 237px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
}

.list_bg_img_overlay,
.list_bg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.list_bg_img_overlay {
  background: #000000a6;
}

.list_bg_img {
  object-fit: cover;
}

.label {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.2px;
  position: absolute;
  top: -12px;
  left: 8px;
  right: 8px;
  z-index: 1;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 46px);
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.label::before, .label::after {
  content: "";
  position: absolute;
  border-width: 9.1px;
  border-style: solid;
}

.label::before {
  right: 100%;
  border-left-color: transparent !important;
}

.label::after {
  left: 100%;
  border-right-color: transparent !important;
}

.score {
  z-index: 1;
}

img.brand_logo {
  max-height: 150px;
  z-index: 1;
  position: relative;
}

.img_second {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.img_second img {
  width: 74px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 1000px) {

  main .container {
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .listing {
    width: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 343px 343px;
    gap: 16px;
  }

  .list_bg_img_overlay {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 25%,
      rgba(0, 0, 0, 0.68) 47.5%,
      rgba(0, 0, 0, 0.9) 100%
    );
  }

  .main {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    gap: 8px;
    margin-block: -1px;
  }

  .img_first {
    width: 113px;
    height: 107px;
    gap: 1px;
  }

  .brand_logo {
    max-height: 60px;
    z-index: 1;
  }

  .btn {
    padding: 12px;
    padding-top: 0px;
    background: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
  }
}

/* FONTS START */
.rating_first span:first-child {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
}

.brand_name {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
}

.score_num {
  color: #000000;
  font-size: 43px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.02em;
  text-align: center;
}

.score_text {
  color: #1d1d1d;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: -0.02em;
}

.address {
  color: #898888;
  font-size: 12px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.02em;
  font-family: "Montserrat", sans-serif;
}

.something {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.02em;
  font-family: "Montserrat", sans-serif;
}

.card_title {
  color: #1c1c1c;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: normal;
  word-break: break-word;
}

.pros p {
  color: #464646;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}

.btn a:first-child {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: center;
  text-decoration: none;
}

.btn a:last-child {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-decoration: none;
  background: linear-gradient(150deg, rgb(172 36 36) 8%, rgb(239 5 5) 90.3%);
  padding: 20px 24px;
  font-family: "Montserrat", sans-serif;
}

.brand_name_mb {
  display: none;
}

@media (max-width: 1000px) {

  .score_num {
    font-size: 42px;
    line-height: 75px;
  }

  .btn a:first-child {
    color: #fff;
    font-weight: 500;
    line-height: 19px;
    height: 46px;
    border-radius: 4px;
  }

  .bestoffer {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
}

@media (max-width: 720px) {
  .address{
    width: 300px;
  }
}

@media (max-width: 520px) {
  .address{
    width: 225px;
  } 
}
/* FONTS END */

.promo{
  max-width: 240px;
  height: 30px;
  padding: 4px 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFEFDF;
}

.promo p{
  color: #667085;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.promo p span{
  color: #B25700;
  font-weight: 700;
}

.copyPromo{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.copied{
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  background: #000000db;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  z-index: 3;
  opacity: 0;
  transition: all .2s ease-in-out;
}

@media (max-width: 1000px) {
  .promo{
    max-width: 195px;
    margin-block: 12px;
  }
}

/* NEW MOBILE CARDS START */

@media (max-width: 1000px) {
  .left {
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .rank_section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    background: #ffffff4d;
  }

  .rank_section .rank_num {
    height: 24px;
    width: 19px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    line-height: 11px;
    background: #ffffff4d;
  }

  .brand_name_mb {
    width: 100%;
    height: 24px;
    color: #fff;
    font-size: 13px;
    font-weight: 200;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2px;
  }

  .brand_img img {
    width: 80px;
    height: 64px;
    object-fit: contain;
  }

  .exp {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
  }

  .exptext {
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
  }

  .right {
    width: 100%;
    background: #fff;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .roffer {
    color: #000;
    font-size: 14px;
    font-weight: 450;
    line-height: 14.52px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 8px;
  }

  .mb_our_score {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .mb_our_score p {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
  }

  .mb_our_score .score_num{
    border-radius: 6px;
    padding: 3px 6px;
  }

  .card_mb .promo{
    max-width: 92%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .rbottom{
    width: 100%;
  }

  .card_mb .btn {
    padding: 0px;
    gap: 10px;
  }

  .card_mb .address{
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -0.08em;
  }

  .labelmb {
    margin-top: -8px;
    margin-right: -20px;
    margin-bottom: -8px;
    width: 100%;
    height: 28px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: flex-end;
  }

  .labelmb_inner {
    width: max-content;
    padding-inline: 25px;
    border-top-right-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .labelmb_inner::before{
    position: absolute;
    content: '';
    right: 100%;
    border-width: 14px;
    border-style: solid;
    border-left-color: transparent !important;
  }
}

/* NEW MOBILE CARDS END */
@media (max-width: 720px) {
  main .container {
    max-width: 500px;
  }

  .listing {
    grid-template-columns: 100%;
  }

  .brand_img img {
    width: 120px;
    height: 80px;
  }
}

@media (max-width: 450px) {
  .left{
    padding-inline: 10px;
  }
}

@media (max-width: 370px) {
  .brand_img img{
    width: 90px;
  }
}